/* Dark Mode */
body {
    background-color: #121212;
    color: #e0e0e0;
}

header {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border-bottom: 1px solid #444;
}

header h1 {
    color: #f1f1f1;
    border-bottom: 3px solid #007acc;
}

main {
    background-color: #1e1e1e;
    border: 1px solid #444;
}

main h2 {
    color: #f1f1f1;
    border-bottom: 2px solid #555;
}

footer {
    background-color: #1e1e1e;
    color: #aaa;
    border-top: 1px solid #444;
}

a {
    color: #4a90e2;
}

a:hover {
    color: #8ab4f8;
}

#dark-mode-toggle {
    background-color: #1f1c02;
    color: #fff;
    border: 1px solid #1f1c02;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Hover effect previews light mode */
#dark-mode-toggle:hover {
    background-color: hsl(60, 9%, 84%); /* Match light mode */
    color: #262625; /* Match light mode */
    border: 1px solid #b38f6b; /* Match light mode */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Light mode shadow */
}
